---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
const products = [
  {
    id: 1,
    name: "OP-1 Portable Synthesizer",
    price: "$1,299.00",
    description: "All-in-one portable synthesizer, sampler, and controller.",
    storage: "64MB",
  },
  {
    id: 2,
    name: "PO-33 Pocket Operator",
    price: "$89.00",
    description:
      "Micro sampler and sequencer with built-in microphone and 40-second sample memory.",
    storage: "4MB",
  },
];
---

<BaseLayout hideNav={true} hideFooter={true}>
  <section>
    <div
      class="flex flex-col items-start max-w-4xl mx-auto lg:flex-row lg:h-screen gap-y-12 lg:divide-x lg:divide-base-200 p-8 lg:p-0"
    >
      <div class="relative block w-full lg:w-1/2 lg:pr-12 h-full">
        <div class="w-full max-w-md py-12 mx-auto">
          <a
            href="/"
            onclick="if (document.referrer && document.referrer !== location.href) { history.back(); return false; }"
          >
            <div class="p-2 rounded-full bg-base-50 w-fit">
              <span class="sr-only">Back to home</span>
              <Logo class="h-8 text-accent-500" />
            </div>
          </a>
          <div class="flex flex-col mt-12 gap-4">
            {
              products.map((product, index) => (
                <div class="flex flex-col l">
                  <Text tag="p" variant="textXS" class="text-base-500 ">
                    {product.price} — {product.storage}
                  </Text>
                  <Text tag="h3" variant="textSM" class="mt-1  text-base-900">
                    {product.name}
                  </Text>
                </div>
              ))
            }
          </div>
          <div class="flex flex-col justify-between mt-8">
            <dl class="text-sm space-y-2 text-base-500">
              <div class="flex justify-between">
                <dt class="text-base-900">Subtotal</dt>
                <dd class="text-base-500">$920.00</dd>
              </div>
              <div class="flex justify-between">
                <dt class="flex">
                  <span class="text-sm text-base-900">Discount</span>
                  <span
                    class="ml-2 rounded-md bg-base-100 px-2 py-0.5 inline-flex items-center text-xs tracking-wide text-accent-500"
                    >LEX30</span
                  >
                </dt>
                <dd class="text-base-500">-$30.00</dd>
              </div>
              <div class="flex justify-between">
                <dt class="text-base-900">Taxes</dt>
                <dd class="text-base-500">$403.68</dd>
              </div>
              <div class="flex justify-between">
                <dt class="text-base-900">Shipping</dt>
                <dd class="text-base-500">Free</dd>
              </div>
            </dl>
            <div
              class="flex items-center justify-between pt-4 mt-4 border-t border-base-100 text-base-500"
            >
              <dt class="text-sm">Total</dt>
              <dd class="text-sm">$3.019</dd>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col justify-center w-full lg:w-1/2 lg:pl-12 h-full">
        <div class="w-full max-w-md py-12 mx-auto">
          <form class="h-full">
            <div class="grid grid-cols-12 gap-1 gap-y-4 gap-x-2">
              <div class="col-span-full">
                <label
                  for="email-address"
                  class="text-sm font-medium text-base-500">Email address</label
                >
                <div class="mt-1">
                  <input
                    type="email"
                    id="email-address"
                    name="email-address"
                    placeholder="Email address"
                    aria-label="Email address"
                    autocomplete="email"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-full">
                <label
                  for="name-on-card"
                  class="text-sm font-medium text-base-500">Name on card</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    id="name-on-card"
                    name="name-on-card"
                    placeholder="Name on card"
                    autocomplete="cc-name"
                    aria-label="Name on card"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-full">
                <label
                  for="card-number"
                  class="text-sm font-medium text-base-500">Card number</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    id="card-number"
                    name="card-number"
                    autocomplete="cc-number"
                    placeholder="Card number"
                    aria-label="Card number"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-8 sm:col-span-9">
                <label
                  for="expiration-date"
                  class="text-sm font-medium text-base-500"
                  >Expiration date (MM/YY)</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    name="expiration-date"
                    id="expiration-date"
                    placeholder="Expiration date (MM/YY)"
                    aria-label="Expiration date"
                    autocomplete="cc-exp"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-4 sm:col-span-3">
                <label for="cvc" class="text-sm font-medium text-base-500"
                  >CVC</label
                >
                <div class="mt-1">
                  <input
                    id="cvc"
                    type="text"
                    name="cvc"
                    placeholder="CVC"
                    autocomplete="cc-csc"
                    aria-label="CVC"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-full">
                <label for="address" class="text-sm font-medium text-base-500"
                  >Address</label
                >
                <div class="mt-1">
                  <input
                    id="address"
                    type="text"
                    name="address"
                    placeholder="Address"
                    aria-label="Address"
                    autocomplete="street-address"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-full sm:col-span-4">
                <label for="city" class="text-sm font-medium text-base-500"
                  >City</label
                >
                <div class="mt-1">
                  <input
                    id="city"
                    type="text"
                    name="city"
                    placeholder="City"
                    aria-label="City"
                    autocomplete="address-level2"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-full sm:col-span-4">
                <label for="region" class="text-sm font-medium text-base-500"
                  >State / Province</label
                >
                <div class="mt-1">
                  <input
                    id="region"
                    type="text"
                    name="region"
                    placeholder="State / Province"
                    aria-label="State / Province"
                    autocomplete="address-level1"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-full sm:col-span-4">
                <label
                  for="postal-code"
                  class="text-sm font-medium text-base-500">Postal code</label
                >
                <div class="mt-1">
                  <input
                    id="postal-code"
                    type="text"
                    name="postal-code"
                    placeholder="Postal Code"
                    autocomplete="postal-code"
                    aria-label="Postal code"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                </div>
              </div>
              <div class="col-span-full">
                <label
                  for="discount-code"
                  class="text-sm font-medium text-base-500">Discount code</label
                >
                <div class="flex w-full mt-1 space-x-2">
                  <input
                    id="discount-code"
                    type="text"
                    name="discount-code"
                    placeholder="Discount Code"
                    aria-label="Discount code"
                    class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
                  />
                  <Button type="submit" variant="muted" size="sm">
                    Apply
                  </Button>
                </div>
              </div>
            </div>
            <div class="flex flex-col mt-2 gap-2">
              <Button type="submit" size="sm" variant="default">
                Pay with credit card
              </Button>
              <Button type="submit" size="sm" variant="muted">
                Pay with Apple
              </Button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
