---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
const { frontmatter } = Astro.props;
// Icons
import Home from "@/components/fundations/icons/Home.astro";
import ChevronRight from "@/components/fundations/icons/ChevronRight.astro";
// Breadcrumbs Data
const breadcrumbs = [
  { label: "Home", href: "/" },
  { label: "Help Center", href: "/helpcenter" },
  { label: frontmatter.title, href: "#" }, // Current page (unstyled)
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div class="max-w-md mx-auto">
        <nav aria-label="Breadcrumb">
          <ol class="flex items-center space-x-2">
            {
              breadcrumbs.map((item, index) => (
                <>
                  <li>
                    {item.label === "Home" ? (
                      <a
                        href={item.href}
                        class="flex items-center gap-1 text-xs font-medium hover:text-accent-700 text-base-900"
                      >
                        <Home class="size-4" />
                        <span>Home</span>
                      </a>
                    ) : index < breadcrumbs.length - 1 ? (
                      <a
                        href={item.href}
                        class="flex items-center text-xs font-medium hover:text-accent-700 text-base-900"
                      >
                        {item.label}
                      </a>
                    ) : (
                      <span class="text-xs font-medium text-accent-600">
                        {item.label}
                      </span>
                    )}
                  </li>
                  {index < breadcrumbs.length - 1 && (
                    <li class="text-base-400 flex items-center">
                      <ChevronRight class="size-3.5" />
                    </li>
                  )}
                </>
              ))
            }
          </ol>
        </nav>
        <Text
          tag="h1"
          variant="displayMD"
          class="mt-12 text-base-900 font-serif italic"
        >
          {frontmatter.title}
        </Text>
        <Wrapper variant="prose" class="mt-12">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
