{% liquid
  assign product = closest.product
  assign image = product.featured_media.preview_image
%}

<div class="card-gallery">
  {% if image != blank %}
    <img
      src="{{ image | image_url: width: 800 }}"
      alt="{{ image.alt | escape }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      loading="lazy"
    >
  {% else %}
    {{ 'product-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>

{% stylesheet %}
  .card-gallery {
    overflow: hidden;
    position: relative;
    display: block;
    aspect-ratio: 4 / 5; /* Default to portrait */
  }

  .card-gallery img,
  .card-gallery svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
{% endstylesheet %}
