

{% liquid
  assign order = 'logo,menu,localization,search,drawer_search,actions'

  if shop.customer_accounts_enabled
    assign order = 'drawer_search,logo,menu,localization,search,actions'
  endif

  assign rows = 'top,bottom' | split: ','
  assign search_style = 'none'

  if section.settings.show_search
    assign search_style = 'modal'
  endif

  if section.settings.show_search
    render 'predictive-search-styles'
    render 'slideshow-styles'
  endif

  if section.settings.enable_transparent_header_home and template.name == 'index'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.home_color_scheme
  elsif section.settings.enable_transparent_header_product and template.name == 'product'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.product_color_scheme
  elsif section.settings.enable_transparent_header_collection and template.name == 'collection'
    assign transparent = 'always'
    assign transparent_color_scheme = section.settings.collection_color_scheme
  endif

  if section.settings.enable_sticky_header == 'always'
    assign sticky = 'always'
  elsif section.settings.enable_sticky_header == 'scroll-up'
    assign sticky = 'scroll-up'
  endif

  if transparent and sticky
    assign transparent = 'not-sticky'
  endif

  if transparent
    if transparent_color_scheme == 'inverse'
      assign transparent_color_scheme = 'color-' | append: section.settings.color_scheme_transparent
    else
      assign transparent_color_scheme = 'color-' | append: section.settings.color_scheme_top
    endif
  endif

  capture logo
    content_for 'block', type: '_header-logo', id: 'header-logo'
  endcapture

  capture menu
    content_for 'block', type: '_header-menu', id: 'header-menu'
  endcapture

  capture drawer_menu
    content_for 'block', type: '_header-menu', id: 'header-menu', variant: 'mobile'
  endcapture

  capture navigation_bar
    content_for 'block', type: '_header-menu', id: 'header-menu', variant: 'navigation_bar', transparent: transparent
  endcapture

  capture actions
    render 'header-actions', customer_account_menu: section.settings.customer_account_menu, display_style: section.settings.actions_display_style, section: section
  endcapture

  if shop.customer_accounts_enabled
    assign search_class = 'search-action--hidden-on-drawer'
  endif

  # Handle localization positioning
  if section.settings.localization_position == 'left'
    if section.settings.search_position == 'left'
      if shop.customer_accounts_enabled
        assign order = 'drawer_search,logo,search,localization,menu,actions'
      else
        assign order = 'logo,search,localization,menu,drawer_search,actions'
      endif
    else
      if shop.customer_accounts_enabled
        assign order = 'drawer_search,logo,localization,menu,search,actions'
      else
        assign order = 'logo,localization,menu,search,drawer_search,actions'
      endif
    endif
  else
    if section.settings.search_position == 'left'
      if shop.customer_accounts_enabled
        assign order = 'drawer_search,logo,search,menu,localization,actions'
      else
        assign order = 'logo,search,menu,localization,drawer_search,actions'
      endif
    endif
  endif
  capture search
    render 'search', style: search_style, class: search_class, display_style: section.settings.actions_display_style
  endcapture

  # Skip drawer search under specific conditions:
  # Always render if search_row is bottom
  # Don't render when shop.customer_accounts_enabled is false and search_position is left and search_style is not none
  assign skip_drawer_search = false
  if shop.customer_accounts_enabled == false and section.settings.search_position == 'left' and search_style != 'none'
    assign skip_drawer_search = true
  endif

  if section.settings.search_row == 'bottom' or search_style != 'none' and skip_drawer_search == false
    # Mobile search duplicate for when search is not in the right order for mobile layout
    capture drawer_search
      render 'search', class: 'search-action--hidden-on-menu', style: search_style, display_style: section.settings.actions_display_style
    endcapture
  endif

  assign show_language = section.settings.show_language
  if localization.available_languages.size <= 1
    assign show_language = false
  endif

  assign show_country = section.settings.show_country
  if localization.available_countries.size <= 1
    assign show_country = false
  endif

  assign bottom_row_blocks = ''

  if section.settings.menu_row == 'bottom'
    assign bottom_row_blocks = bottom_row_blocks | append: 'menu,'
  endif

  if section.settings.search_style != 'none'
    if section.settings.search_row == 'bottom'
      assign bottom_row_blocks = bottom_row_blocks | append: 'search,'
    endif
  endif

  if section.settings.show_country or section.settings.show_language
    if section.settings.localization_row == 'bottom'
      assign bottom_row_blocks = bottom_row_blocks | append: 'localization,'
    endif
  endif

  assign bottom_row_blocks = bottom_row_blocks | split: ',' | compact

  if section.settings.section_height == 'compact'
    assign header_height_class = ' header--compact'
  endif

  if bottom_row_blocks.size > 0 and section.settings.color_scheme_top.settings.background.rgb == section.settings.color_scheme_bottom.settings.background.rgb and section.settings.divider_width == 0
    assign collapse_header_paddings_class = 'header--collapse-row-paddings'
  endif

  assign class = 'header'

  if transparent_color_scheme
    assign class = class | append: ' ' | append: transparent_color_scheme
  endif

  if header_height_class
    assign class = class | append: ' ' | append: header_height_class
  endif

  if collapse_header_paddings_class
    assign class = class | append: ' ' | append: collapse_header_paddings_class
  endif

  # Determine transparent background value
  assign top_transparent = false
  assign bottom_transparent = false

  if section.settings.color_scheme_top.settings.background.alpha != 1
    assign top_transparent = true
  endif

  if section.settings.color_scheme_bottom.settings.background.alpha != 1
    assign bottom_transparent = true
  endif

  if top_transparent and bottom_transparent
    assign transparent_color_scheme_value = 'both'
  elsif top_transparent
    assign transparent_color_scheme_value = 'top'
  elsif bottom_transparent
    assign transparent_color_scheme_value = 'bottom'
  endif
%}

{% capture localization_markup %}
  {% liquid
    assign localization_font = '--menu-localization-font: var(--font-[localization_font]--family); ' | replace: '[localization_font]', section.settings.localization_font
    assign localization_font_size = '--menu-localization-font-size: [localization_font_size]; ' | replace: '[localization_font_size]', section.settings.localization_font_size
    assign color_shadow = '--color-shadow: rgb(var(--color-foreground-rgb) / var(--opacity-10-25));'
    assign form_style = localization_font | append: localization_font_size | append: color_shadow
  %}
  {% if show_language and show_country == false %}
    <div class="dropdown-localization mobile:hidden">
      {% render 'localization-form',
        show_country: show_country,
        show_language: show_language,
        localization_style: 'dropdown',
        form_style: form_style,
        form_id: section.id
      %}
    </div>
  {% elsif show_country %}
    <dropdown-localization-component
      class="dropdown-localization mobile:hidden"
    >
      <button
        type="button"
        class="button dropdown-localization__button localization-selector header-actions__action"
        aria-expanded="false"
        aria-controls="dropdown-localization-results"
        ref="button"
        on:click="/toggleSelector"
        style="{{ localization_font }} {{ localization_font_size }}"
      >
        {% if show_country %}
          {% if section.settings.country_selector_style == true %}
            {% liquid
              assign background_brightness = section.settings.color_scheme.settings.background | color_brightness
              if background_brightness < 64
                assign shadow_size = 4
              else
                assign shadow_size = 2
              endif
            %}
            <span
              class="icon-flag"
              style="
                background-image: url({{- localization.country | image_url: width: 32 }});
                --size-shadow: {{ shadow_size }}px;
                --color-shadow: rgb(var(--color-foreground-rgb) / var(--opacity-30-60));
              "
            ></span>
          {% endif %}
          <span
            class="currency-code"
            data-testid="localization-currency-code"
          >
            {{- localization.country.currency.iso_code -}}
          </span>
        {% endif %}
        <span
          class="visually-hidden"
          data-testid="localization-visually-hidden"
        >
          {{- 'accessibility.localization_region_and_language' | t -}}
        </span>

        {%- if show_country and show_language -%}
          <span>/</span>
        {%- endif -%}

        {%- if show_language -%}
          <span>
            {{ localization.language.iso_code | upcase }}
          </span>
        {%- endif -%}
        <span class="svg-wrapper icon-caret">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>

      <div
        class="localization-wrapper {{ section.settings.localization_position }}-bound color-{{ settings.popover_color_scheme }}"
        hidden
        ref="panel"
      >
        {% render 'localization-form',
          show_country: show_country,
          show_language: show_language,
          localization_style: 'dropdown',
          form_style: form_style,
          form_id: section.id
        %}
      </div>
    </dropdown-localization-component>
  {% endif %}
{% endcapture %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

<header-component
  id="header-component"
  class="{{ class }}"
  data-theme-color="rgb({{ section.settings.color_scheme_top.settings.background.rgb }})"
  {% if transparent %}
    transparent="{{ transparent }}"
  {% endif %}
  {% if sticky %}
    sticky="{{ sticky }}"
  {% endif %}
  data-skip-node-update
  data-scroll-direction="none"
  {% if section.settings.menu_row == 'top' and bottom_row_blocks.size > 0 %}
    data-submenu-overlap-bottom-row
  {% endif %}
  {% if transparent_color_scheme_value %}
    data-transparent-color-scheme="{{ transparent_color_scheme_value }}"
  {% endif %}
  style="
    --color-scheme-top-row: rgba({{ section.settings.color_scheme_top.settings.background.rgba }});
    --color-scheme-bottom-row: rgba({{ section.settings.color_scheme_bottom.settings.background.rgba }});
    {% if section.settings.actions_display_style == 'text' %}
      --header-actions-font-size: {{ section.settings.actions_font_size | default: '1rem' }};
      --header-actions-font-family: var(--font-{{ section.settings.actions_font | default: 'heading' }}--family);
      --header-actions-font-weight: var(--font-{{ section.settings.actions_font | default: 'heading' }}--weight);
      --header-actions-text-case: {{ section.settings.actions_text_case | default: 'none' }};
    {% endif %}
  "
>
  <div class="header__underlay header__underlay-closed"></div>
  <div
    class="header__underlay header__underlay-open"
  ></div>
  {%- if request.page_type == 'index' -%}
    <h1 class="visually-hidden">{{ shop.name }}</h1>
  {%- endif -%}
  {% for row in rows %}
    {% liquid
      assign scheme = 'color_scheme_' | append: row
      assign class = 'header__row header__row--[row] color-[row_scheme] section section--full-width-margin section--[section-width]' | replace: '[row]', row | replace: '[row_scheme]', section.settings[scheme] | replace: '[section-width]', section.settings.section_width

      case row
        when 'top'
          assign first = drawer_menu

          if bottom_row_blocks.size > 0 and section.settings.divider_size == 'page-width'
            assign class = class | append: ' divider--page-width'
          endif

          if bottom_row_blocks.size > 0
            assign border_bottom_setting_id = 'divider_width'
          else
            assign border_bottom_setting_id = 'border_width'
          endif
        when 'bottom'
          assign first = ''
          assign class = class | append: ' mobile:hidden'

          assign border_bottom_setting_id = 'border_width'
      endcase

      assign style = '--border-bottom-width: [width]px; ' | replace: '[width]', section.settings[border_bottom_setting_id]

      if row == 'top'
        assign style = style | append: '--border-bottom-width-mobile: [width]px; ' | replace: '[width]', section.settings.border_width
      endif
    %}

    {% capture content %}
      {% render 'header-row',
        row: row,
        order: order,
        settings: section.settings,
        first: first,
        logo: logo,
        menu: menu,
        actions: actions,
        localization: localization_markup,
        search: search,
        drawer_search: drawer_search
      %}
    {% endcapture %}

    {% assign content = content | strip %}
    {% if content != blank %}
      <div
        class="{{ class | strip }}"
        ref="headerRowTop"
        {%- if style != blank -%}
          style="{{ style | strip }}"
        {%- endif -%}
      >
        <div class="header__columns spacing-style">
          {{ content }}
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% if navigation_bar != blank %}
    <div class="header__row header__navigation-bar-row color-{{ section.settings.color_scheme_bottom }}">
      {{ navigation_bar }}
    </div>
  {% endif %}
</header-component>

<script
  src="{{ 'header.js' | asset_url }}"
  type="module"
></script>

{% stylesheet %}
  body {
    --header-height: 60px;
    --header-group-height: var(--header-height);
  }

  .header {
    display: block;
    contain: layout style;
    background-color: var(--color-background);
  }

  .header__row {
    padding-top: var(--spacing-3);
    padding-bottom: var(--spacing-3);
    border-bottom: 1px solid var(--color-base-200);
  }

  #header-component :is(.header-menu, .dropdown-localization) {
    display: none;
  }

  @media screen and (min-width: 750px) {
    #header-component[data-menu-style='menu'] :is(.header-menu, .dropdown-localization) {
      display: flex;
    }
  }

  #header-component[data-menu-style='drawer'] .header__column {
    display: contents;
  }

  @media screen and (min-width: 750px) {
    #header-component[data-menu-style='menu'] .header__navigation-bar-row {
      display: none;
    }
  }

  .header-section {
    position: relative;
    z-index: var(--layer-heightened);
  }

  .header__column {
    display: flex;
    align-items: center;

    @media screen and (max-width: 749px) {
      display: contents;
    }
  }

  .header__column--left {
    justify-content: flex-start;
    grid-area: left;
  }

  .header__column--center {
    justify-content: center;
    grid-area: center;
  }

  .header__column--right {
    gap: var(--spacing-4);
    justify-content: flex-end;
    grid-area: right;
  }

  .header__columns {
    display: grid;
    grid-template-areas: 'left center right';
    grid-template-columns: 1fr auto 1fr;
    gap: var(--spacing-8);
    align-items: center;

    @media screen and (max-width: 749px) {
      grid-template-areas: 'left center right';
      grid-template-columns: 1fr auto 1fr;
      gap: var(--spacing-4);
      padding: 0 var(--spacing-4);
    }
  }

  .header-actions__action {
    color: var(--color-foreground);
  }

  .header-actions__action .svg-wrapper {
    width: var(--spacing-5);
    height: var(--spacing-5);
  }

  .header-actions__action svg {
    width: var(--spacing-5);
    height: var(--spacing-5);
  }
  
{% endstylesheet %}

{% unless request.design_mode %}
  <script type="module">
    import { hydrate } from '@theme/section-hydration';
    const url = new URL(window.location.href);
    url.searchParams.delete('page');
    hydrate('{{ section.id }}', url);
  </script>
{% endunless %}

{% schema %}
{
  "name": "t:names.header",
  "tag": "header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "t:content.logo"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:content.menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:settings.menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:content.customer_account"
    },
    {
      "type": "paragraph",
      "content": "t:content.manage_customer_accounts"
    },
    {
      "type": "link_list",
      "id": "customer_account_menu",
      "label": "t:settings.menu",
      "default": "customer-account-main-menu"
    },
    {
      "type": "header",
      "content": "t:content.search"
    },
    {
      "type": "checkbox",
      "id": "show_search",
      "label": "t:settings.search_icon",
      "default": true
    },
    {
      "type": "select",
      "id": "search_position",
      "label": "t:settings.search_position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "right",
      "visible_if": "{{ section.settings.show_search }}"
    },
    {
      "type": "select",
      "id": "search_row",
      "label": "t:settings.search_row",
      "options": [
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "top",
      "visible_if": "{{ section.settings.show_search }}"
    },
    {
      "type": "header",
      "content": "t:content.localization"
    },
    {
      "type": "checkbox",
      "id": "show_country",
      "label": "t:settings.country_region",
      "info": "t:info.manage_countries_regions",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "country_selector_style",
      "label": "t:settings.flag",
      "default": true,
      "visible_if": "{{ section.settings.show_country }}"
    },
    {
      "type": "checkbox",
      "id": "show_language",
      "label": "t:settings.language_selector",
      "info": "t:info.manage_languages",
      "default": true
    },
    {
      "type": "select",
      "id": "localization_font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "heading",
          "label": "t:options.heading"
        },
        {
          "value": "subheading",
          "label": "t:options.subheading"
        },
        {
          "value": "body",
          "label": "t:options.body"
        },
        {
          "value": "accent",
          "label": "t:options.accent"
        }
      ],
      "default": "heading",
      "visible_if": "{{ section.settings.show_country or section.settings.show_language }}"
    },
    {
      "type": "select",
      "id": "localization_font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "1rem"
    },
    {
      "type": "select",
      "id": "localization_position",
      "label": "t:settings.position",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "right",
      "visible_if": "{{ section.settings.show_country or section.settings.show_language }}"
    },
    {
      "type": "select",
      "id": "localization_row",
      "label": "t:settings.row",
      "options": [
        {
          "value": "top",
          "label": "t:options.top"
        },
        {
          "value": "bottom",
          "label": "t:options.bottom"
        }
      ],
      "default": "top",
      "visible_if": "{{ section.settings.show_country or section.settings.show_language }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "compact",
          "label": "t:options.compact"
        },
        {
          "value": "standard",
          "label": "t:options.standard"
        }
      ],
      "default": "standard"
    },
    {
      "type": "select",
      "id": "enable_sticky_header",
      "label": "t:settings.sticky_header",
      "options": [
        {
          "value": "always",
          "label": "t:options.always"
        },
        {
          "value": "scroll-up",
          "label": "t:options.on_scroll_up"
        },
        {
          "value": "never",
          "label": "t:options.never"
        }
      ],
      "default": "always"
    },
    {
      "type": "range",
      "id": "divider_width",
      "label": "t:settings.divider_thickness",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "px",
      "default": 0,
      "visible_if": "{{ section.settings.menu_row == 'bottom' or section.settings.localization_row == 'bottom' or section.settings.search_row == 'bottom' }}"
    },
    {
      "type": "select",
      "id": "divider_size",
      "label": "t:settings.divider_width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "visible_if": "{{ section.settings.divider_width > 0 and section.settings.menu_row == 'bottom' or section.settings.localization_row == 'bottom' or section.settings.search_row == 'bottom' }}"
    },
    {
      "type": "range",
      "id": "border_width",
      "label": "t:settings.border_width",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.utilities"
    },
    {
      "type": "select",
      "id": "actions_display_style",
      "label": "t:settings.actions_display_style",
      "info": "t:info.actions_display_style",
      "options": [
        {
          "value": "icon",
          "label": "t:options.icons"
        },
        {
          "value": "text",
          "label": "t:options.text"
        }
      ],
      "default": "icon"
    },
    {
      "type": "select",
      "id": "actions_font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.875rem",
      "visible_if": "{{ section.settings.actions_display_style == 'text' }}"
    },
    {
      "type": "select",
      "id": "actions_font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "heading",
          "label": "t:options.heading"
        },
        {
          "value": "subheading",
          "label": "t:options.subheading"
        },
        {
          "value": "body",
          "label": "t:options.body"
        },
        {
          "value": "accent",
          "label": "t:options.accent"
        }
      ],
      "default": "body",
      "visible_if": "{{ section.settings.actions_display_style == 'text' }}"
    },
    {
      "type": "select",
      "id": "actions_text_case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none",
      "visible_if": "{{ section.settings.actions_display_style == 'text' }}"
    },
    {
      "type": "header",
      "content": "t:content.colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_top",
      "label": "t:settings.default",
      "default": "primary"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_bottom",
      "label": "t:settings.bottom_row",
      "default": "primary",
      "visible_if": "{{ section.settings.menu_row == 'bottom' or section.settings.localization_row == 'bottom' or section.settings.search_row == 'bottom' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_transparent",
      "label": "t:settings.inverse",
      "default": "primary",
      "visible_if": "{{ section.settings.enable_transparent_header_home or section.settings.enable_transparent_header_product or section.settings.enable_transparent_header_collection }}"
    },
    {
      "type": "header",
      "content": "t:content.home_page"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_home",
      "label": "t:settings.transparent_background",
      "default": false
    },
    {
      "type": "select",
      "id": "home_color_scheme",
      "label": "t:settings.color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "inverse",
          "label": "t:options.inverse"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.enable_transparent_header_home }}"
    },
    {
      "type": "header",
      "content": "t:content.product_page"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_product",
      "label": "t:settings.transparent_background",
      "default": false
    },
    {
      "type": "select",
      "id": "product_color_scheme",
      "label": "t:settings.color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "inverse",
          "label": "t:options.inverse"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.enable_transparent_header_product }}"
    },
    {
      "type": "header",
      "content": "t:content.collection_page"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header_collection",
      "label": "t:settings.transparent_background",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_color_scheme",
      "label": "t:settings.color_scheme",
      "options": [
        {
          "value": "default",
          "label": "t:options.default"
        },
        {
          "value": "inverse",
          "label": "t:options.inverse"
        }
      ],
      "default": "default",
      "visible_if": "{{ section.settings.enable_transparent_header_collection }}"
    }
  ],
  "presets": []
}
{% endschema %}
