

{% liquid
  assign image = section.settings.image
%}

<div
  id="Hero-{{ section.id }}"
  class="hero color-{{ section.settings.color_scheme }}"
  style="--hero-min-height: {{ section.settings.section_height_custom }}svh;"
>
  <div class="hero__media">
    {% if image != blank %}
      {{ image | image_url: width: 3840 | image_tag:
          loading: 'lazy',
          widths: '832, 1200, 1600, 1920, 2560, 3840',
          sizes: '100vw'
      }}
    {% else %}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'hero__placeholder' }}
    {% endif %}
  </div>
  <div class="hero__overlay" style="--overlay-opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};"></div>
  <div class="hero__content-wrapper page-width">
      {% content_for 'blocks' %}
  </div>
</div>

{% stylesheet %}
  .hero {
    position: relative;
    min-height: var(--hero-min-height);
    display: flex;
    align-items: flex-end; /* Align bottom */
    justify-content: flex-start; /* Align left */
  }

  .hero__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero__media img,
  .hero__media svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero__placeholder {
    background-color: var(--color-base-200);
  }

  .hero__overlay {
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity: var(--overlay-opacity);
  }

  .hero__content-wrapper {
    position: relative;
    z-index: 2;
    text-align: left;
    color: #fff;
    padding-bottom: 4rem;
    max-width: 800px;
  }

  .hero__content-wrapper h1 {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: #fff;
  }

  .hero__content-wrapper p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: #fff;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.hero",
  "tag": "section",
  "class": "hero-wrapper section-wrapper",
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "button"
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:settings.image"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:settings.overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 30
    },
    {
      "type": "range",
      "id": "section_height_custom",
      "label": "t:settings.custom_height",
      "min": 20,
      "max": 100,
      "step": 5,
      "default": 70,
      "unit": "svh"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:names.hero",
      "blocks": {
        "text_1": {
          "type": "text",
          "settings": {
            "text": "t:html_defaults.new_arrivals_h2",
            "type_preset": "h1"
          }
        },
        "button": {
          "type": "button",
          "settings": {
            "label": "t:text_defaults.shop_now_button_label",
            "link": "shopify://collections/all"
          }
        }
      },
      "block_order": ["text_1", "button"]
    }
  ]
}
{% endschema %}
